:root {
  --body-color: #F7FFF7;
  --gummetal: #292F36;
  --ligh-red: #FF6B6B;
  --robin-egg-blue: #4ECDC4;
  --naples-yellow: #FFE66D;
}

* {
  /* border: 2px solid black; */
}

body {
  background-color: var(--body-color);
  padding: 10px;
}



nav .top-nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0px;
}

nav ul li a {
  color: var(--gummetal);
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  padding: 0px 10px 5px 10px;
  cursor: pointer;
}

nav ul li a:hover {
  border-bottom: 2px solid var(--gummetal);
}

.mid-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.mid-nav .homepage-div a{
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    color: var(--gummetal);
}

.mid-nav .homepage-div span {
    color: var(--ligh-red);
}

.mid-nav .search-div {
    width: 70%;
}

.mid-nav .search-div input {
    width: 100%;
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--body-color);
}

.mid-nav .cart-div a {
    color: var(--gummetal);
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  padding: 0px 10px 5px 10px;
  cursor: pointer;
}

.bottom-nav ul{
    justify-content: center;
}

.bottom-nav ul li {
    margin: 15px;
}