<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="top-nav">
          <div class="left">
            <ul>
              <li><a href="">Stores</a></li>
              
              <li><a href="">Coupons</a></li>
              
              <li><a href="">Discounts</a></li>
            </ul>
          </div>
          <div class="right">
            <ul>
              <li><a href="">Account</a></li>
              <li><a href="">Watchlist</a></li>
            </ul>
          </div>
        </div>
        <div class="mid-nav">
            <div class="homepage-div">
                <a href="">Books <span>Store</span></a>
            </div>
            <div class="search-div">
                <input type="search" name="q" id="" placeholder="Search...">
            </div>
            <div class="cart-div"><a>Cart</a></div>
        </div>
        <div class="bottom-nav">
            <ul>
                <li><a>Tech</a></li>
                <li><a>Financial</a></li>
                <li><a>Friction</a></li>
                <li><a>Languages</a></li>
                <li><a>History</a></li>
                <li><a>Novel</a></li>
                <li><a>Science</a></li>
            </ul>
        </div>
      </nav>
    </header>

    <!-- {% block body %}{% endblock %} -->
  </body>
</html>
